<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800818846322-ios-client-id.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800818846322-ios-client-id</string>
	<key>API_KEY</key>
	<string>AIzaSyDLFB6Sj32tZDkgb4t2R5XRFgxIADMWLYw</string>
	<key>GCM_SENDER_ID</key>
	<string>800818846322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tz.co.mtaasuite.mtaasuite</string>
	<key>PROJECT_ID</key>
	<string>mtaasuite</string>
	<key>STORAGE_BUCKET</key>
	<string>mtaasuite.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:800818846322:ios:b9c0eb50212ec21</string>
	<key>DATABASE_URL</key>
	<string>https://mtaasuite-default-rtdb.firebaseio.com</string>
</dict>
</plist>